html {
    box-sizing: border-box;
    background: #000;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
  }
  
  body {
    margin: 0;
    height: 100vh;
  }
  
  *, *:before, *:after {
    box-sizing: inherit;
  }

  .panels {
    min-height: 100vh;
    overflow: hidden;
    display: flex;
  }

  .panel {
    background: #000;
    box-shadow: inset 0 0 0 5px rgba(255,255,255,0.1);
    color: white;
    text-align: center;
    align-items: center;
    /* Safari transitionend event.propertyName === flex */
    /* Chrome + FF transitionend event.propertyName === flex-grow */
    transition:
      font-size 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      flex 0.7s cubic-bezier(0.61,-0.19, 0.7,-0.11),
      background 0.2s;
    font-size: 20px;
    background-size: cover;
    background-position: center;
    flex: 1;
    justify-content: center;
    display: flex;
    flex-direction: column;
  }

  .panel1 { background-image:url(https://i.pinimg.com/originals/fa/2c/a3/fa2ca3aa12883112567d9cf010c6ed06.jpg); }
  .panel2 { background-image:url(https://i.pinimg.com/originals/e8/e2/fe/e8e2fe41416bab0b9e6d528944f1a2ee.jpg); }
  .panel3 { background-image:url(https://i.pinimg.com/originals/00/30/cc/0030cc8b371a7a56a8f4b86a8315df3b.jpg); }
  .panel4 { background-image:url(https://i.pinimg.com/originals/91/09/33/910933c89cb30546753a1d461376c0d9.jpg); }
  .panel5 { background-image:url(https://i.pinimg.com/originals/f2/58/8c/f2588c2dddf95c2cb6dc218305f364ab.jpg); }

  /* Flex Items */
  .panel > * {
    margin: 0;
    width: 100%;
    transition: transform 0.5s;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .panel > *:first-child { transform: translateY(-100%); }
  .panel.open-active > *:first-child { transform: translateY(0); }
  .panel > *:last-child { transform: translateY(100%); }
  .panel.open-active > *:last-child { transform: translateY(0); }

  .panel p {
    text-transform: uppercase;
    font-family: 'Amatic SC', cursive;
    text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
    font-size: 2em;
  }
  
  .panel p:nth-child(2) {
    font-size: 4em;
  }

  .panel.open {
    flex: 5;
    font-size: 40px;
  }
  .span{
    font-size: 30px;
    margin-left: 10px;
    color: white;
    }
    a{
    text-decoration-color: white;
}

  @media only screen and (max-width: 600px) {
    .panel p {
      font-size: 1em;
    }
  }